/*
=================================================================
=                       COLORES DE FONDO                        =
=================================================================
*/
.bg-color-blanco-azulado{
    background-color:#f2ffff;
}
.bg-color-celeste{
    background-color:#beeaf3;
}
.bg-color-gris-azulado-claro{
    background-color:#d9e0ec;
}
.bg-color-white{
    background-color: white;
}
.bg-color-black{
    background-color: black;
}
.bg-color-red{
    background-color:red;
}
.bg-color-aguamarina{
    background-color: #74a7ba;
}
.bg-color-blanco-uno{
    background-color: #f5f9fb;
}
.bg-color-blanco-dos{
    background-color: #f4f7f7;
}
/*
=================================================================
=                       COLORES DE TEXTO                        =
=================================================================
*/
.text-color-white{
    color:white;
}
.text-color-black{
    color:black;
}
/*
=================================================================
=                       TAMAÑO DE FUENTE                        =
=================================================================
*/
.text-size{
    font-size: 14px;
}
.text-size-sm{
    font-size: 20px;
}

/*
=================================================================
=                            BOTONES                            =
=================================================================
*/
.btn-base{
    width:200px;
    height:35px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    margin-right:10px;
    background-color:#d9e0ec;
}
.btn-base:hover{
    transform:scale(1.1);
    transition:all 0.5s ease-in-out;
}
.btn-base:disabled{
    opacity:0.5;
    cursor:not-allowed;
}
.btn-base img{
    vertical-align:middle;
    margin-right:10px;
}

/*SEGUNDO BOTON*/
.boton-uno{
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.boton-uno:active {
  scale: 0.92;
}
.boton-uno:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

/*TERCER BOTON*/
.boton-dos{
    border:none;
    height:40px;
    border-radius:5px;
    padding: 0 10px;
    transition: all .3s ease;
    cursor:pointer;
    white-space: nowrap;
    margin-right: 10px;
    transition:transform .3s ease;
}
.boton-dos:hover{
    background-color: #74a7ba;
    color:white;
    transform: scale(1.1)
}

/*
=================================================================
=                          INPUTS/SELECT                        =
=================================================================
*/
/*INPUT BASE*/
.input-base{
    background-color:#fafbfc;
    border-radius: 5px;
    border:1px solid lightgray;
}
.input-base:disabled{
    opacity:0.5;
    cursor:not-allowed;
}
.input-base:focus{
    outline:none;
    box-shadow: none;
    border-color: lightgray !important;
}

/*
=================================================================
=                            TABLAS                             =
=================================================================
*/
.table-uno{
    width:100%;       
    text-align:left;        
    border-radius: 10px;
    border-spacing:0;
    overflow: hidden;     
}
.table-uno tr th{
    font-size:14px;    
    background-color:#beeaf3;
    padding-left:10px;
    height:40px;
}
.table-uno tr td{
    padding-left:10px;
    height:40px;
    box-shadow: 0 0 0 0.5px lightgray;
    cursor:pointer;
    user-select:none;
}
.table-uno tbody tr:nth-child(odd){
    background-color:white;
}

/*TABLA DOS*/
/*Se debe usar la clase table-responsive de bootstrap o hacer una clase propia para el div que contiene la tabla*/
.table-dos{
    width:100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;  
    border: 1px solid #e2e8f0;
    background-color: white;
    overflow: hidden;   
}
.table-dos thead{
    height:50px;
    background-color: #f4f7f7;
    font-size: 13px;
}

.table-dos tr th, .table-dos tr td{
    text-align: center;
    padding: 0 7px;
    white-space: nowrap;
    
}
.table-dos tr td{
    height:65px;
}
.table-dos tbody tr{
    border: 1px solid #e2e8f0;
    cursor:pointer;
}
.table-dos tbody tr:hover{
    background-color: #f8fafa;
}
.table-dos img{
    width:25px;
    cursor:pointer;
    transition: transform .3s ease;
}
.table-dos img:hover{
    transform: scale(1.3);
}




/*
=================================================================
=                    BARRA DE NAVEGACIÓN                        =
=================================================================
*/
.ul-menu{
    background-color:#beeaf3;
}
.ul-menu >li{
   cursor:pointer;
}

/*
=================================================================
=                          FONDOS                               =
=================================================================
*/
.fondo-uno{
    width:100%;
    height:100%;
    background-image: url('/imagen/Fondo/FondoFarmacia1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: iteracion-fondo 3s infinite alternate;
}
@keyframes iteracion-fondo{
    from{
        background-image: url('/imagen/Fondo/FondoFarmacia2.png');
    }to{
        background-image: url('/imagen/Fondo/FondoFarmacia1.png');
    }
}

@media(max-width: 800px){
    .fondo-uno{
        width:100%;
        height:100%;
        background-image: url('/imagen/Fondo/FondoFarmaciaMovil1.png');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        animation: iteracion-fondo-movil 3s infinite alternate;
    }
}
@keyframes iteracion-fondo-movil{
    from{
        background-image:url('/imagen/Fondo/FondoFarmaciaMovil2.png');
    }to{
        background-image:url('/imagen/Fondo/FondoFarmaciaMovil1.png');
    }
}

/*
=================================================================
=                          ALERTAS                              =
=================================================================
*/
.alerta-uno > .fondo{
    width:100%;
    height:100%;
    position: fixed;
    z-index: 9010;
    background-color: black;
    opacity: 0.4;
    top:0px;
}
.alerta-uno > .alerta{
        width:210px;
        min-height:235px;
        max-height: 250px;
        background-color: rgb(211, 208, 208);
        border-radius: 10px;
        padding: 10px 10px;
        position: fixed;
        z-index: 9011;
        inset:0;
        margin:auto;
        text-align: center;
        align-content: center;
        overflow: hidden;
}
.alerta-uno > .alerta img{
    width:100px;
    margin-bottom: 10px;
}
.alerta-uno > .alerta  button{
    border:none;
    border-radius: 5px;
    width:100px;
    height:35px;
    color:white;
    background-color: rgb(238, 53, 238);
    cursor:pointer;
}

/*
=================================================================
=                          BARRA DE CARGA                       =
=================================================================
*/
.barra-carga-uno{
    width:100%;
    height:10px;    
    border: none;    
}
.barra-carga-uno > .progreso{
    width:0%;
    height:30px;    
    background: rgba(255, 255, 255, 0.1);  /* Fondo semi-transparente */
    text-align: center;
    color:white;
    animation: llenar 2s forwards;
    border-radius: 10px;
    align-content: center;
}
@keyframes llenar {
    to{width:100%}
}

/*
=================================================================
=                          VENTANA MODAL                        =
=================================================================
*/
.modal-uno .fondo{
    width:100%;
    height:100%;    
    position: fixed;
    z-index: 9000;
    background-color: black;
    opacity: 0.4;
    top:0px;
}
.modal-uno .contenedor{
    width:400px;
    min-height:370px;
    position: fixed;
    z-index: 9001;
    background-color: white;
    border-radius: 20px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@media (min-width:768px){
.modal-uno .contenedor{
    width:700px;
}
}

/*MODAL DOS*/
.modal-dos .fondo{
    width:100%;
    height:100%;    
    position: fixed;
    z-index: 9002;
    background-color: black;
    opacity: 0.4;
}
.modal-dos .contenedor{
    width:400px;
    min-height:370px;
    position: fixed;
    z-index: 9003;
    background-color: white;
    border-radius: 20px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@media (min-width:768px){
.modal-dos .contenedor{
    width:700px;
}
}


/*
=================================================================
=                          VENTANA CHAT BOT                        =
=================================================================
*/

.chat_ventana_uno .ventana{
    width: 300px;
    height: 400px;
    position: fixed;
    bottom: 90px;
    right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 10000;
    display: flex;
    flex-direction: column;
}
.cabecera{
    background-color: #74a7ba;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cabecera .cerrar_ventana{
    cursor: pointer;
    font-weight: bold;
    margin-left: 260px;
    background-color: black;
    border-radius: 50%;
    width:20px; 
    height:20px;
    text-align: center;
    line-height: 20px;    
}
.cuerpo{
    height: 100%;
    /* background-color: black; */
}
.mensajes{
    height:90%;
    /* background-color: red; */
}
.escribir{
    height:10%;
    /* background-color: blue; */
}
.escribir .mensaje{
    width:80%;
    height:100%;
    border-bottom-left-radius: 10px;
    border:none;
    margin-left: 10px;
}
.escribir .mensaje:focus{
    outline:none;
    box-shadow: none;
}
.escribir .enviar{
    border:none;
    background-color: white;
    cursor:pointer;
    /* background-color: red; */
    height: 100%;
    border-radius: 100%;
    margin-left: 10px;
}



















/*QUITAR FOCUS*/
.quitar-focus:focus{
    outline:none;
    box-shadow: none;
}
/*Agrandar elemento*/
.scalar-elemento:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.ocultar{
    display: none;
}