
body{
    min-width: 300px;   
}
.ocultar{
    display:none !important;
}
.input-oculto{
    border:none;
}
.pointer{
    cursor:pointer;
}
.pointer:hover{
    transform: scale(1.2);
    transition: transform .4s ease;
}
.table-responsive{
    max-height: 300px !important;
    overflow-y: auto;
}
.cursor-pointer{
    cursor:pointer;
}
